<ng-controller="startCtrl">
    <div class="row">
        <div class="col s8 offset-s2">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <div id="mapid" ng-click="MapClick()"></div>
            way of transport:
            <form action="#">
                <p class="transportoption">
                    <input name="group1" type="radio" id="Car" checked />
                    <label for="Car">By car</label>
                </p>
                <p class="transportoption">
                    <input name="group1" type="radio" id="Foot" />
                    <label for="Foot">By foot</label>
                </p>
                <div class="col s8 offset-s1" id="TimeS">
                    <div class="range-field">
                        <div id="TimeSlider"></div><br>
                        <div id="TimeSliderValue"></div> minuts
                    </div>
                </div>
        </div>
        </form>
    </div>
    </ng-controller>